body{
    margin: 0;
    background-color: #eaeaea;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 50px;
    background-color: #dae0e065;
}

nav a{
    color: #063e42;
    text-decoration: none;
    font-family: sans-serif;
    margin: 20px;
}

.board{
    background-color: white;
    width: 75%;
    margin: 30px auto;
    padding: 30px 60px;
}

#parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
}

#parent div{
    width: 30%;
    margin-bottom: 50px;
}

#parent img {
    width: 100%; 
    height: 40vh;
}

.fa-star {
    color: goldenrod;
}

a{
    color: black;
    text-decoration: none;
}

#addtocart{
    background-color: #0F848C;
    color: white;
    border: none;
    width: 100%;
    font-family: sans-serif;
    font-size: 20px;
    padding: 3%;
    display: block;
    text-align: center;
}

#addtocart:hover{
    cursor: pointer;
    background-color: #333;
}

#price_befor{ 
    color: gray;
    font-size: x-large;
    text-decoration: line-through;
    margin: 0;
}
#price_after{
    color: red; 
    font-size:30px;
    font-weight: bold;
    margin: 6px;
}

#footerdiv{
    background-color: #000;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}
footer img {
    width: 100%;
}
#footerdiv a{
   
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    margin: 1% 0;
}
.fa-brands {
    font-size: 50px;
    margin: 0 2%;
    
}


.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}