body{
    margin: 0;
    background-color: #eaeaea;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 50px;
    background-color: #dae0e065;
}

nav a{
    color: #063e42;
    text-decoration: none;
    font-family: sans-serif;
    margin: 20px;
}

.board{
    background-color: white;
    width: 75%;
    margin: 30px auto;
    padding: 30px 60px;
}

#parent{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
}

#parent div {
    width: 40%;
}

#parent div img {
    width: 100%;
}

h4 {
    color: #0F848C;
}

#price{
    color: #555;
}

#addtocart{
    background-color: #0F848C;
    display: block;
    text-align: center;
    color: white;
    border: none;
    width: 50%;
    font-family: sans-serif;
    font-size: 20px;
    padding: 3%;
    text-decoration: none;
}

#addtocart:hover{
    cursor: pointer;
    background-color: #333;
}

hr {
    background-color: #CCC;
}

#addrev {
    border: #CCC 1px solid;
    padding: 2%;
    margin: 0 2%;
}

#addrev h3 {
    color: #0F848C;
}

textarea {
    width: 80%;
    height: 20vh;
}

.fa-star {
    color: #bbb;
}

#revs {
    border: #CCC 1px solid;
    padding: 2%;
    margin: 0 2%;
}

#revs i {
    border: black 1px solid;
    border-radius: 100%;
    padding: 5px;
}

#revs span{
    font-size: 25px;
    font-weight: bold;
}
#price_befor{ 
    color: gray;
    font-size: x-large;
    text-decoration: line-through;
    margin: 0;
}