@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
  
 background-color: #0F848C;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav,.tab1, .tab2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav{
  background-color: white;
  padding: 0;
  font-family: sans-serif;
}

nav a{
    color: #063e42;
    text-decoration: none;
    font-family: sans-serif;
    margin: 20px;
    font-size: 20px;
}

.tab1 a, .tab2 a{
  display: block;
  color: #17868e;
  text-decoration: none;
  margin: 0 15px;
}
.error-icon,
.error-text {
	display: none;
}
html {
	
	font-family: 'Poppins', sans-serif;
}
#intro {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
}
.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	
	padding: 0 30px;
	max-width: 1300px;
	margin: 0 auto;
}
.left-col {
	background-image: url(../img/registration-form-4.jpg);
    background-repeat: no-repeat;
    margin-top: 2%;
    margin-right: 1%;
    flex: 1;
    height: 500px;
    width: 280px;
}


.right-col {
	flex: 1;
}

.h1{
  font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	margin-bottom: 25px;
	letter-spacing: 3px;
	font-weight: bolder;
	color: #3FB4BE;
}
 .form-container {
	
	
	background-color: white;
	padding: 30px;
	/* border-radius: 15px; */
	box-shadow: 0 8px hsla(249, 10%, 26%, 0.404);
}
.field-group {
	position: relative;
	
}
 label {
	/* display: none; */
    text-align: left;
    margin-bottom: 5px;
    font-size: 12px;
    padding: 10px;
	color: hsla(249, 10%, 26%, 0.678);
	
 
}
 input,
 button[type = submit] {
	width: 100%;
	height: 60px;
	
	
	border: 1.3px solid hsl(246, 25%, 77%);
	padding-left: 20px;
	outline: none;
	color: hsl(249, 10%, 26%);
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
}
 input:focus {
	border: 1.5px solid hsl(249, 10%, 26%);
}
#signup{

	letter-spacing: 3px;
	background: #3FB4BE;
	color: #fff;
	margin-top: 20px;
	/* box-shadow:0 0 4px 4px #3FB4BE; */
	border: none;
}
#signup:hover{
  font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	color: #3FB4BE;
	border: 3px #3FB4BE solid ;
}
 /* button[type = submit] {
	cursor: pointer;
	background-color: hsl(154, 59%, 51%);
	box-shadow: 0px 4px hsl(154, 56%, 44%);
	color: white;
	font-weight: 500;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 0;
	border: none;
}
button[type = submit]:hover {
	background-color: hsl(154, 73%, 65%);
} */
.form-footer {
	margin-top: 10px;
	color: hsl(246, 25%, 77%);
}
.form-footer span {
	color: #3FB4BE;
	font-weight: 700;
}
.error-text {
	text-align: right;
	bottom: 0;
	right: 0;
	font-size: 12px;
	font-style: italic;
	color: hsl(0, 100%, 74%);
	font-weight: 500;
}
.error-icon {
	position: absolute;
	top: 0;
	right: 1%;
	top: 35%;
}
.field-group.error .error-text,
.field-group.error .error-icon {
	display: block;
}
#reg {
    display: none;/*if (isset($reg))*/
    margin-top: 8px;
    text-align: center;
    color: rgb(0, 175, 0);
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.453);
    padding: 10px;
	font-size: 25px;
}
.field-group.error input {
	border: 2px solid hsl(0, 100%, 74%);
}
.na1, .na2{
	margin: 5px;
}

#i1 {
    
    top: -2%;
    left: 27%;
}
@media only screen and (min-width: 1000px) {
	#intro {
		background-image: url(./images/bg-intro-desktop.png);
	}
	.container {
		flex-direction: row;
	}
	.left-col {
		/* text-align: left; */
		padding-right: 50px;
	}
	
	.right-col {
		max-width: 500px;
	}


	 .form-container {
		padding: 40px;
	}
	input::placeholder,
	input {
		
		height: 30px;
	}
	 .form-footer {
		margin-top: 20px;
		font-size: .7rem;
	}
}

#footerdiv{
    background-color: #000;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}
footer img {
    width: 100%;
}
#footerdiv a{
   
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    margin: 1% 0;
}
.fa-brands {
    font-size: 50px;
    margin: 0 2%;
    
}


.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.pop{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.334);
	display: none;
}