.gradient-custom {
    background: radial-gradient(circle at 0.1% 99.8%, rgb(0, 164, 189) 0%, rgb(0, 189, 165) 90%);

    }
    .btn-primary{
        background-color: #0F848C;
        border: none;
        border-radius: none;
    }
    .img-fluid {
        width: 80px;
        height: 80px;
        margin-top: 3rem;
    }

    .chang1{
        cursor: pointer;
    }

    #footerdiv{
        background-color: #000;
        color: white;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5% 0;
    }
    footer img {
        width: 100%;
    }
    #footerdiv a{
       
        color: white;
        text-decoration: none;
        font-size: larger;
        font-weight: bold;
        margin: 1% 0;
    }
    .fa-brands {
        font-size: 50px;
        margin: 0 2%;
        
    }
    
    
    .col-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    #uimg{
        font-size:x-small;
        color: white;
    }
    a{
        text-decoration: none;
    }

    .num{
        position: relative;
    }
    
    .sub{
        position: absolute;
        top: -5px;
        right: 24px;
        padding: 5px;
        color: #063e42;
        /* background-color: #063e42; */
    }