body{
    margin: 0;
    background-color: #eaeaea;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 50px;
    background-color: #dae0e065;
}

nav a{
    color: #063e42;
    text-decoration: none;
    /* font-family: sans-serif; */
    margin: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.board{
    background-color: white;
    width: 75%;
    margin: 30px auto;
    padding: 30px 60px;
    font-family: 'Times New Roman', Times, serif;

}

table{
    border-collapse: collapse;
    /* margin: auto; */
    /* font-family: sans-serif; */
    width: 100%;
}

th, td{
    padding: 10px;
    border: 0.1px solid;
    /* border-left: 0;
    border-right: 0; */
}

td{
    text-align: center;
}

.num{
    width: 50px;
}

.change{
    width: fit-content;
    padding: 15px 35px;
    background-color: #17868e;
    border-radius: 5px;
    color: white;
    /* font-family: sans-serif; */
    user-select: none;
    cursor: pointer;
    margin: auto;
}

.total{
    padding: 25px;
    margin-top: 30px;
    width: fit-content; 
    border: 1px solid;
}

#footerdiv{
    background-color: #000;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}
footer img {
    width: 100%;
}
#footerdiv a{
   
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    margin: 1% 0;
}
.fa-brands {
    font-size: 50px;
    margin: 0 2%;
    
}


.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.num{
    position: relative;
}

.sub{
    position: absolute;
    top: -5px;
    right: 24px;
    padding: 5px;
    color: #063e42;
}