body{
    margin: 0;
    background-color: #eaeaea;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 50px;
    background-color: #dae0e065;
}

nav a{
    color: #063e42;
    text-decoration: none;
    font-family: sans-serif;
    margin: 20px;
}

.board{
    background-color: white;
    width: 75%;
    margin: 30px auto;
    padding: 30px 60px;
}

table{
    border-collapse: collapse;
    /* margin: auto; */
    font-family: sans-serif;
    width: 100%;
}

th, td{
    padding: 10px;
    border: 0.1px solid;
    /* border-left: 0;
    border-right: 0; */
}

td{
    text-align: center;
}

.num{
    width: 50px;
}

.change{
    width: fit-content;
    padding: 15px 35px;
    background-color: #17868e;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    user-select: none;
    cursor: pointer;
    margin: auto;
}

.total{
    padding: 25px;
    margin-top: 30px;
    width: fit-content; 
    border: 1px solid;
}