body{
    margin: 0;
    background-color: #eaeaea;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 50px;
    background-color: #dae0e065;
}

nav a{
    color: #063e42;
    text-decoration: none;
    font-family: sans-serif;
    margin: 20px;
    font-size: 20px;
}

.board{
    background-color: white;
    width: 75%;
    margin: 30px auto;
    padding: 30px 60px;
}

.parent{
    display: flex;
    padding: 20px;
}

.name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.side2{
    border: 2px solid rgb(78, 78, 78);
    width: 50%;
}

.side1{
    box-sizing: border-box;
    width: 50%;
    margin-right: 10%;
    padding: 30px;
}

.first, .last{
    padding: 5px;
    font-size: 20px;
    box-sizing: border-box;
    width: 100%;
}

/* .name input{
    font-size: 20px;
    width: 95%;
    padding: 5px;
    box-sizing: border-box;

} */

.side2{
    box-sizing: border-box;
    width: 50%; 
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.num{
    margin-top: 20px;
    font-size: 1.2rem;
}

.num input{
    font-size: 20px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.mail{
    margin-top: 20px;
    font-size: 1.2rem;
}

.mail input{
    font-size: 20px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.cou{
    margin-top: 20px;
    font-size: 1.2rem;
}

.cou input{
    font-size: 20px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.town{
    margin-top: 20px;
    font-size: 1.2rem;
}

.town input{
    font-size: 20px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.tall{
    margin-top: 20px;
    font-size: 1.2rem;
}

.tall input{
    font-size: 20px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.submit{
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
    padding: 10px 25px;
    font-size: 18px;
}

table{
    border-collapse: collapse;
}

th{
    padding: 20px 0;
}

td{
    border-top: 1px solid rgb(140, 140, 140);
    border-bottom: 1px solid rgb(140, 140, 140);
    padding: 20px 0;
}

.cash{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    user-select: none;
}

.pop{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(73, 73, 73, 0.568);
    /* display: fe; */
}

.mess{
    padding: 20px;
    background-color: rgb(120, 116, 135);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-family: sans-serif;
}

#footerdiv{
    background-color: #000;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 0;
}
footer img {
    width: 100%;
}
#footerdiv a{
   
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    margin: 1% 0;
}
.fa-brands {
    font-size: 50px;
    margin: 0 2%;
    
}


.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}